[defaults]
inventory = ./inventory.yml
roles_path = ./roles
collections_path = ./.galaxy
host_key_checking = True
retry_files_enabled = False
forks = 5
stdout_callback = default
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.facts
fact_caching_timeout = 3600
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o IdentitiesOnly=yes
